.add-friend-input{
    width: 100%;
    padding: 0.825em;
    background-color: transparent;
    border: none;
}

.search-icon{
    width: 18px;
    height: 18px;
    margin-left: 1.5em;
}

.add-friend-container{
    margin-top: 1em;
    display: flex;
    background-color: var(--bg-input-color);
    border-radius: 8px 0 0 8px;
    align-items: center;
}

.add-friend-container input{
    font-size: 1rem;
    font-weight: 600;
    color: var(--input-txt-color);
}

.add-friend-container input::placeholder{
    color: var(--input-placeholder-color);
}

.add-friend-card{
    display: flex;
    margin-top: 1.25em;
}

.add-friend-card img{
    border-radius: 12px;
    width: 50px;
    object-fit: contain;
    height: 50px;
}

.add-friend-card-info{
    display: flex;
    flex-direction: column; 
    gap: 4px;
    margin-left: 4px;
    font-family: 'Poppins', sans-serif; 
    font-weight: 500; 
}

.add-friend-card-info p{
    white-space: nowrap; 
    overflow: hidden;    
    text-overflow: ellipsis;
    font-size: 0.875rem;    
    color: var(--nav-active-color);
}

.add-friend-card-info button{
    align-self: flex-start;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    color: var(--chat-txt-color);
    font-size: 0.625rem;
    padding: 0.5em 2.5em;
    font-weight: 500;
}

.accept-btn{
    background-color: var(--bg-btn-color);
}

.decline-btn{
    background-color: var(--bg-btn-decline-color);
}

.add-friend-card-btns{
    display: flex;
    gap: 0.5em;
}


/* MEDIA QUERY */
/* Medium devices (landscape tablets, 768px and up)  */
@media only screen and (width >= 768px) {

    .similar-users-list{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(175px, 200px));
        justify-items: center;
        gap: 1em;
    }

    .add-friend-card{
        flex: 0 0 auto;
        border: 1px solid var(--person-list-name-border);
        width: 130px;
        flex-direction: column;
        border-radius: 12px 12px 0 0 ;
        margin-top: 1.25em;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    
    .add-friend-card-image-container{
        width: 100%;
    }

    .add-friend-card img{
        width: 100%;
        height: 80px;
        border-radius: 12px 12px 0 0 ;
        object-fit: fill;
        overflow: hidden;
    }
    
    .add-friend-card-info{
        display: flex;
        flex-direction: column; 
        gap: 0.5em;
        margin: 0 6px 1em;
    }
    
    .add-friend-card-info p{
        margin-top: 4px;
        text-align: left;
        font-size: 0.8rem;    
        color: var(--nav-active-color);
    }
    
    .add-friend-card-info button{
        width: 100%;
        cursor: pointer;
        border-radius: 4px;
        font-size: 0.875rem;
        padding: 0.5em 0;
        transition: background-color 0.3s, filter 0.3s;
    }

    .accept-btn:hover{
        background-color: var(--bg-btn-color);
        filter: brightness(1.1);
    }

    .decline-btn:hover{
        background-color: var(--bg-btn-decline-color);
        filter: brightness(1.1);
    }

    .add-friend-card-btns{
        flex-direction: column;
    }

}
 /* Large devices (laptops/desktops, 992px and up)  */
@media only screen and (width >= 992px) {
    .add-friend-card{
        width: 150px;
        margin-top: 1.25em;
    }
    
    .add-friend-card img{
        width: 100%;
        height: 90px;
    }
    
    .add-friend-card-info p{
        font-size: 0.875rem;
    }
    
    .add-friend-card-info button{
        font-size: 0.875rem;
        padding: 0.575em 0;
    }
}
/*Extra large devices (large laptops and desktops, 1200px and up)*/
@media only screen and (width >= 1200px) {
    .add-friend-card{
        width: 175px;
        margin-top: 1.25em;
    }
    
    .add-friend-card img{
        width: 100%;
        height: 100px;
    }
    
    .add-friend-card-info p{
        font-size: 0.875rem;
    }
    
    .add-friend-card-info button{
        font-size: 0.875rem;
        padding: 0.6em 2.0;
    }
}