.add-friend-input{
    width: 100%;
    padding: 0.825em;
    background-color: transparent;
    border: none;
}

.search-icon{
    width: 18px;
    height: 18px;
    margin-left: 1.5em;
}

.add-friend-container{
    margin-top: 1em;
    display: flex;
    background-color: var(--bg-input-color);
    border-radius: 8px 0 0 8px;
    align-items: center;
}

.add-friend-container input{
    font-size: 1rem;
    font-weight: 600;
    color: var(--input-txt-color);
}

.add-friend-container input::placeholder{
    color: var(--input-placeholder-color);
}


.add-friend-card{
    display: flex;
    align-items: center;
    margin: 1.5em 0;
}

.add-friend-card-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.add-friend-card img{
    width: 50px;
    height: 50px;
    border-radius: 12px;
    margin-right: 1em;
}

.add-friend-card p{
    margin-top: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    color: var(--person-list-name-color);
}

.add-friend-card button{
    background-color: var(--bg-btn-color);
    color: var(--btn-txt-color);
    border: none;
    border-radius: 8px;
    padding: 0.5em 2em;
    font-size: 0.825rem;
    font-weight: 600;
    cursor: pointer;
}

.similar-users-list{
    overflow: auto;
    max-height: 80vh;
}



/* MEDIA QUERY */
/* Small devices (portrait tablets and large phones, 600px and up)  */
@media only screen and (width > 600px) {
 .add-friend-card img{
        width: 64px;
        height: 64px;
    }
    
    .add-friend-card p{
        font-size: calc(0.9rem * 1.1);
    }
    
    .add-friend-card button{
        padding: calc(0.5em * 1.1) calc(2em * 1.1);
        font-size: calc(0.825rem * 1.1);
    }
}

/* Medium devices (landscape tablets, 768px and up)  */
@media only screen and (width >= 768px) {
    .add-friend-card img{
        width: 68px;
        height: 68px;
    }
    
    .add-friend-card p{
        font-size: calc(0.9rem * 1.2);
    }
    
    .add-friend-card button{
        padding: calc(0.5em * 1.1) calc(2em * 1.2);
        font-size: calc(0.825rem * 1.2);
    }
}
 /* Large devices (laptops/desktops, 992px and up)  */
@media only screen and (width >= 992px) {
    .add-friend-card {
        flex-direction: column;
        border-radius: 12px;
        border: 2px solid var(--person-list-name-border);
        width: 150px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

    }

    /* Style for the avatar/image inside the card */
    .add-friend-card img {
        width: 100%;
        height: 100%;
        border-radius: 12px 12px 0 0;
        margin: 0;
        padding: 0;
    }

    /* Style for the name text */
    .add-friend-card p {
        font-size: calc(0.9rem * 1.3);
        margin-top: 4px;
        text-align: center;
    }

    /* Style for the "Add" button */
    .add-friend-card button {
        width: 120px;
        padding: calc(0.5em * 1.1) calc(2em * 1.3);
        font-size: calc(0.825rem * 1.3);
        font-weight: 600;
        cursor: pointer;
        margin: 1em 0 1.5em;
        text-align: center;
    }

    .add-friend-search-section{
        display: flex;
        flex-direction: column;
        margin-right: 2em;
    }

    .similar-users-list{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 0 2em;
    }
}
/*Extra large devices (large laptops and desktops, 1200px and up)*/
@media only screen and (width >= 1200px) {

}