.auth-general{
    display: flex;
    flex-direction: column;
    background-color: var(--bg-main-color);
    max-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}

.auth-form {
    width: 100%; /* or any fixed width like 400px */
    max-width: 350px; /* optional, to limit the maximum width */
    margin: 0 auto; /* optional, to center the form */
}

.auth-form__top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 0;
}

.auth-form_logo {
    margin: 0 auto;
    width: 25%;
    max-width: 92px;
    height: auto;
}

.auth-form_header .auth-form_light-mode-btn{
    display: none;
}

.auth-form_light-mode-btn{
    position: absolute;
    right: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-input-color);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 48px;
    height: 48px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: transform 0.3s;
}

.auth-form_light-mode-btn:hover{
    transform: scale(1.1);
}

.auth-form_header{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 3em;
}

.auth-form_header h1{
    margin: 0;
    font-size: 2.5rem;
    color: var(--header-txt-color);
    font-weight: 600;
    letter-spacing: -1px;
}

.auth-form_header p{
    margin-top: 0.25em;
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--suggest-txt-color);
}

.auth-form_header span{
    color: var(--highlight-txt-color);
    text-decoration: underline;
    cursor: pointer;
}

.auth-form__form-container form{
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.auth-form__form-container form input,
.auth-form__form-container form button{
    font-weight: 500;
    padding: 1em;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: var(--bg-input-color);
    color: var(--input-txt-color);
}

.auth-form__form-container form input::placeholder{
    color: var(--input-placeholder-color);
    font-weight: 500;
}

.auth-form__form-container form input:focus{
    border: 2px solid var(--outline-input-color);
}

.auth-form__name-container{
    display: flex;
    gap: 2em;
    flex-direction: column;
}

.auth-form__password-container{
    display: flex;
}

.auth-form__form-container form input,
.auth-form__form-container form button,
.auth-form__name-container,
.auth-form__password-container{
    width: 100%;
    max-width: 350px;
}

.password-eye{
    cursor: pointer;
    margin-left: -2em;
}

.auth-form__form-container form button{
    background-color: var(--bg-btn-color);
    color: var(--btn-text-color);
    font-weight: 500;
    cursor: pointer;
    font-size: 1rem;
}

/* animation */

.auth-general, 
.auth-form, 
.auth-form_header h1, 
.auth-form_header p, 
.auth-form__form-container form input,
.auth-form__form-container form button {
    transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease;
}


/* MEDIA QUERY */
/* Small devices (portrait tablets and large phones, 600px and up)  */
@media only screen and (width > 600px) {
    .auth-form_logo {
        max-width: calc(92px * 1.1);
    }
    
    .auth-form_light-mode-btn{
        width: calc(48px * 1.1);
        height: calc(48px * 1.1);
    }

    .auth-form_header h1{
        font-size: calc(2.5rem * 1.1);
    }
    
    .auth-form_header p{
        font-size: calc(0.875rem * 1.1);
    }
    
    .auth-form__form-container form{
        font-size: calc(1rem * 1.1);
    }
    
    .auth-form__form-container form button{
        font-size: calc(1rem * 1.1);
    }
}

/* Medium devices (landscape tablets, 768px and up)  */
@media only screen and (width >= 768px) {
    .auth-form_logo {
        max-width: calc(92px * 1.15);
    }
    
    .auth-form_light-mode-btn{
        width: calc(48px * 1.15);
        height: calc(48px * 1.15);
    }

    .auth-form_header h1{
        font-size: calc(2.5rem * 1.15);
    }
    
    .auth-form_header p{
        font-size: calc(0.875rem * 1.15);
    }
    
    .auth-form__form-container form{
        font-size: calc(1rem * 1.15);
    }
    
    .auth-form__form-container form button{
        font-size: calc(1rem * 1.15);
    }
}
 /* Large devices (laptops/desktops, 992px and up)  */
@media only screen and (width >= 992px) {
    .auth-form_header h1{
        font-size: calc(2.5rem * 1.2);
    }
    
    .auth-form_header p{
        font-size: calc(0.875rem * 1.2);
    }
    
    .auth-form__form-container form{
        font-size: calc(1rem * 1.2);
    }
    
    .auth-form__form-container form button{
        font-size: calc(1rem * 1.2);
    }

    .auth-form__name-container{
        display: flex;
        gap: 1em;
        flex-direction: row;
    }

    .auth-general{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        gap: 2em;
    }

    .auth-form_light-mode-btn{
        display: none;
    }

    .auth-form__top-container {
        padding: 0;
        height: auto;
    }

    .auth-form_logo {
        margin: 0;
        max-width: none;
        width: 85%;
        height: 85%;
    }
    
    .auth-form {
        width: auto;
        margin: auto 0; 
        max-width: 400px;
        width: 100%;
        min-height: 650px;
    }

    .auth-form__form-container form{
        gap: 3em;
    }

    .auth-form__form-container form input{
        padding: 1.2em;
    }

    .auth-form__form-container form input,
    .auth-form__form-container form button,
    .auth-form__name-container,
    .auth-form__password-container{
        max-width: 100%;
    }

    .auth-form_header .auth-form_light-mode-btn{
        position: relative;
        transform: translateY(100%);
        left: 90%;
        display: flex;
    }
}
/*Extra large devices (large laptops and desktops, 1200px and up)*/
@media only screen and (width >= 1200px) {
    .auth-form_header h1{
        font-size: calc(2.5rem * 1.3);
    }
    
    .auth-form_header p{
        font-size: calc(0.875rem * 1.3);
    }
    
    .auth-form__form-container form{
        font-size: calc(1rem * 1.3);
    }
    
    .auth-form__form-container form button{
        font-size: calc(1rem * 1.3);
    }

    .auth-form__name-container{
        display: flex;
        gap: 1em;
        flex-direction: row;
    }

    .auth-general{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        gap: 2em;
    }

    .auth-form_light-mode-btn{
        display: none;
    }

    .auth-form__top-container {
        padding: 0;
        height: auto;
    }

    .auth-form_logo {
        margin: 0;
        max-width: none;
        width: 100%;
        height: 100%;
    }
    
    .auth-form {
        width: auto;
        margin: auto 0; 
        max-width: 550px;
        width: 100%;
        min-height: 650px;
    }

    .auth-form__form-container form{
        gap: 3em;
    }

    .auth-form__form-container form input{
        padding: 1em;
    }

    .auth-form__form-container form input,
    .auth-form__form-container form button,
    .auth-form__name-container,
    .auth-form__password-container{
        max-width: 100%;
    }
}