/* MEDIA QUERY */
/* Small devices (portrait tablets and large phones, 600px and up)  */
@media only screen and (width > 600px) {

}

/* Medium devices (landscape tablets, 768px and up)  */
@media only screen and (width >= 768px) {

}
 /* Large devices (laptops/desktops, 992px and up)  */
@media only screen and (width >= 992px) {

}
/*Extra large devices (large laptops and desktops, 1200px and up)*/
@media only screen and (width >= 1200px) {

}



.selected-chat {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    background-color: var(--bg-main-color);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    top: 0;
    right: 0;
}

.selected-chat-header {
    background-color: rebeccapurple;
    height: 50px; /* or any desired height for the header */
}

.divider {
    height: 2px;
    background-color: var(--nav-inactive-color);
    margin: 1em 0;
}

.selected-chat-main {
    display: flex;
    flex-direction: column;  /* Stack messages and send button vertically */
    flex: 1;  /* Take up the remaining space */
    overflow: hidden;  /* Prevent overflowing content */
}

.selected-chat-messages {
    flex: 1;  /* This makes the messages take up remaining space */
    overflow-y: auto;  /* Enable vertical scrolling */
    padding: 10px;  /* Add padding around the messages */
    display: flex;
    flex-direction: column;

}
.selected-chat-send {
    flex-shrink: 0;  /* Prevent send area from shrinking */
    height: 60px;  /* Set a height for the send area */
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.selected-chat-send-textarea {
    flex: 1;
    display: flex;
    justify-content: center;
}

.message{
    width: 250px;
}

.selected-chat-send-textarea textarea {
    width: 100%;
    max-height: 120px; /* Maximum height of the textarea */
    overflow-y: hidden;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none; /* Disable textarea resizing */
}

.selected-chat-send-btn {
    padding: 0 10px;
    cursor: pointer;
}

.selected-chat-send-btn i {
    font-size: 24px;
    color: #007bff; /* Send button icon color */
}
